extends ../layout.pug

block content
  h2 Tareas
  p
    a(href="/tasks/new") ➕ Nueva tarea

  if currentDept
    p
      | Mostrando tareas del área: 
      strong= currentDept.name

  if tasks.length
    table
      thead
        tr
          th Título
          th Estado
          th Vence
      tbody
        each t in tasks
          tr
            td: a(href=`/tasks/${t.id}`)= t.title
            td= t.status
            td= t.dueDate || '-'
  else
    p (No hay tareas)
